.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 199, 157, 0.7);
    width: 100%;
    .navigationBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 25px 0;
        border: black 1px solid;
        width: 500px;
    }
    .tile{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border: black solid 1px;
        width: 90%;
    }
}
