.navigationBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 35px 5px;
  background-color: rgba(25,118,210, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}